@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark track background */
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* Darker thumb for contrast */
  border-radius: 4px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Lighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
}
